.DiaryEditor, .DiaryList {
  border: 1px solid #eee;
  text-align: center;
  padding: 20px;
}

.DiaryEditor input,textarea{
  margin-bottom: 20px;
  width: 500px;
  padding: 12px;
}

.DiaryEditor textarea{
  height: 150px;
}

.DiaryEditor select {
  width: 100px;
  padding: 8px;
  margin-bottom: 20px;
}

.DiaryEditor button {
  width: 500px;
  padding: 8px;
  cursor: pointer;
}

.DiaryItem {
  border: 1px solid #2777E8;
  margin: 0px auto;
  margin-bottom: 16px;
  padding: 20px;
  border-radius: 12px;
  width: 500px;
  text-align: left;
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
